    <ons-template id="fermentor-status.html">
	<ons-page ng-controller="FermentorStatusController">
	    <ons-toolbar>
	        <div class="left">
	                    <ons-toolbar-button ng-click="menu.toggle()">
	                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
	                    </ons-toolbar-button>
	        </div>
	        <div class="center">Fermentor Status</div>
	    </ons-toolbar>
	
	    <ons-row style="margin-top: 100px; text-align: center;">
	        <ons-col>
                <nvd3 options="threedaychart" data="data"></nvd3>
                <ons-icon icon="rotate-right" size="80px" spin="true" fixed-width="true" ng-style="waitspinner"></ons-icon>
	        </ons-col>
	    </ons-row>

	</ons-page>
    </ons-template>

