    <ons-template id="settings.html">
	<ons-page ng-controller="SettingsController">
	    <ons-toolbar>
	        <div class="left">
	                    <ons-toolbar-button ng-click="menu.toggle()">
	                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
	                    </ons-toolbar-button>
	        </div>
	        <div class="center">Application Settings</div>
	    </ons-toolbar>

<div style="text-align: left">

    <article>
        <h5>Brewery</h5>
        <section style="padding: 8px">
            <input type="text" class="text-input" ng-model="breweryaddress" placeholder="Address" style="display: block; width: 70%">
            <input type="text" class="text-input" ng-model="breweryaddressport" placeholder="Port" style="display: block; width: 30%">
        </section>
        <section style="padding: 8px">
            <input type="text" class="text-input" ng-model="breweryendpoint" placeholder="/api/v1/brewery/" style="display: block; width: 100%">
        </section>
    </article>

    <section style="padding: 8px">
      Fermentor Address
      <input type="text" class="text-input" ng-model="fermentoraddress" placeholder="Address" style="display: block; width: 100%">
    </section>

    <section style="padding: 8px">
      Kegerator Address
      <input type="text" class="text-input" ng-model="kegeratoraddress" placeholder="Address" style="display: block; width: 100%">
    </section>

    <section style="padding: 0 8px 8px">
      <ons-button modifier="large">Submit</ons-button>
    </section>

  </div>

	</ons-page>
    </ons-template>

